$theme-colors: (
  "primary": #955cbc,
  "secondary": #e8afcd,
  "success": #20e919,
  "danger": #ff4203,
  "light": #727172,
  "dark" : #272432
);


$enable-rounded: false;

$spacer: 3rem;


$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default; // copied from variables to be able to use below as a variable
$font-family-base: 'Archivo Narrow', $font-family-sans-serif;

$font-size-base:              1rem !default;
$h1-font-size:                $font-size-base * 4;
$h2-font-size:                $font-size-base * 3;

$headings-line-height: 1.5;

$carousel-control-color: #955cbc;
$carousel-indicator-active-bg: #955cbc;