@import "custom";

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

@import "node_modules/bootstrap/scss/reboot";
@import "node_modules/bootstrap/scss/type";
@import "node_modules/bootstrap/scss/images";
@import "node_modules/bootstrap/scss/code";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/tables";
@import "node_modules/bootstrap/scss/forms";
@import "node_modules/bootstrap/scss/buttons";
@import "node_modules/bootstrap/scss/transitions";
@import "node_modules/bootstrap/scss/dropdown";
@import "node_modules/bootstrap/scss/button-group";
@import "node_modules/bootstrap/scss/input-group";
@import "node_modules/bootstrap/scss/custom-forms";
@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/scss/card";
@import "node_modules/bootstrap/scss/breadcrumb";
@import "node_modules/bootstrap/scss/pagination";
@import "node_modules/bootstrap/scss/badge";
@import "node_modules/bootstrap/scss/jumbotron";
@import "node_modules/bootstrap/scss/alert";
@import "node_modules/bootstrap/scss/progress";
@import "node_modules/bootstrap/scss/media";
@import "node_modules/bootstrap/scss/list-group";
@import "node_modules/bootstrap/scss/close";
@import "node_modules/bootstrap/scss/modal";
@import "node_modules/bootstrap/scss/tooltip";
@import "node_modules/bootstrap/scss/popover";
@import "node_modules/bootstrap/scss/carousel";
@import "node_modules/bootstrap/scss/utilities";
@import "node_modules/bootstrap/scss/print";

body {
  color: theme-color("dark");
}

$highlight-color: darken(theme-color("dark"), 15%);

h1, h2, .h1, .h2 {
  font-family: "Archivo Black";
  letter-spacing: -0.2rem;
  margin-bottom: $spacer;
  color: $highlight-color;
}

h3, h4, .h3, .h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.padding-block {
  padding-top: 50px;
  padding-bottom: 50px;
  @include media-breakpoint-up(md) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

#page-footer {
  padding-top: 30px;
  padding-bottom: 30px;
  @include media-breakpoint-up(md) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

#navbarContent {
  .nav-link {
    text-decoration: underline;
    font-size: $h4-font-size;
  }
}

.navbar-brand {
  font-size: $h4-font-size;
}

.link-highlighted {
  color: $highlight-color;
  text-decoration: underline;
  &:hover {
    color: theme-color("secondary");
  }

}

#hero{
  position: relative;
  height: 100vh;
  background-color: theme-color("primary");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(img/mike-dorner-173502_500.jpg);
  background-image: image-set(url(img/mike-dorner-173502_500.jpg) 1x, url(img/mike-dorner-173502_1000.jpg) 2x, url(img/mike-dorner-173502_1500.jpg) 3x);

  @include media-breakpoint-up(sm) {
    background-image: url(img/mike-dorner-173502_800.jpg);
    background-image: image-set(url(img/mike-dorner-173502_800.jpg) 1x, url(img/mike-dorner-173502_1500.jpg) 2x);
  }
  @include media-breakpoint-up(md) {
    background-image: url(img/mike-dorner-173502_1000.jpg);
    background-image: image-set(url(img/mike-dorner-173502_1000.jpg) 1x, url(img/mike-dorner-173502_1500.jpg) 1.5x, url(img/mike-dorner-173502_3000.jpg) 3x);
  }
  @include media-breakpoint-up(lg) {
    background-image: url(img/mike-dorner-173502_1200.jpg);
    background-image: image-set(url(img/mike-dorner-173502_1200.jpg) 1x, url(img/mike-dorner-173502_3000.jpg) 2x);
  }

    @include media-breakpoint-up(xl) {
    background-image: url(img/mike-dorner-173502_1500.jpg);
    background-image: image-set(url(img/mike-dorner-173502_1500.jpg) 1x, url(img/mike-dorner-173502_3000.jpg) 2x);
  }
}

#jumbo1 {
  position: relative;
  background-color: theme-color("primary");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(img/nicole-honeywill-546848_500.jpg);
  background-image: image-set(url(img/nicole-honeywill-546848_500.jpg) 1x, url(img/nicole-honeywill-546848_1000.jpg) 2x, url(img/nicole-honeywill-546848_1500.jpg) 3x);

  @include media-breakpoint-up(sm) {
    background-image: url(img/nicole-honeywill-546848_800.jpg);
    background-image: image-set(url(img/nicole-honeywill-546848_800.jpg) 1x, url(img/nicole-honeywill-546848_1500.jpg) 2x);
  }
  @include media-breakpoint-up(md) {
    background-image: url(img/nicole-honeywill-546848_1000.jpg);
    background-image: image-set(url(img/nicole-honeywill-546848_1000.jpg) 1x, url(img/nicole-honeywill-546848_1500.jpg) 1.5x, url(img/nicole-honeywill-546848_3000.jpg) 3x);
  }
  @include media-breakpoint-up(lg) {
    background-image: url(img/nicole-honeywill-546848_1200.jpg);
    background-image: image-set(url(img/nicole-honeywill-546848_1200.jpg) 1x, url(img/nicole-honeywill-546848_3000.jpg) 2x);
  }

    @include media-breakpoint-up(xl) {
    background-image: url(img/nicole-honeywill-546848_1500.jpg);
    background-image: image-set(url(img/nicole-honeywill-546848_1500.jpg) 1x, url(img/nicole-honeywill-546848_3000.jpg) 2x);
  }
}

#jumbo2{
  position: relative;
  background-color: theme-color("primary");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(img/pineapple-supply-co-81438_500.jpg);
  background-image: image-set(url(img/pineapple-supply-co-81438_500.jpg) 1x, url(img/pineapple-supply-co-81438_1000.jpg) 2x, url(img/pineapple-supply-co-81438_1500.jpg) 3x);

  @include media-breakpoint-up(sm) {
    background-image: url(img/pineapple-supply-co-81438_800.jpg);
    background-image: image-set(url(img/pineapple-supply-co-81438_800.jpg) 1x, url(img/pineapple-supply-co-81438_1500.jpg) 2x);
  }
  @include media-breakpoint-up(md) {
    background-image: url(img/pineapple-supply-co-81438_1000.jpg);
    background-image: image-set(url(img/pineapple-supply-co-81438_1000.jpg) 1x, url(img/pineapple-supply-co-81438_1500.jpg) 1.5x, url(img/pineapple-supply-co-81438_3000.jpg) 3x);
  }
  @include media-breakpoint-up(lg) {
    background-image: url(img/pineapple-supply-co-81438_1200.jpg);
    background-image: image-set(url(img/pineapple-supply-co-81438_1200.jpg) 1x, url(img/pineapple-supply-co-81438_3000.jpg) 2x);
  }

    @include media-breakpoint-up(xl) {
    background-image: url(img/pineapple-supply-co-81438_1500.jpg);
    background-image: image-set(url(img/pineapple-supply-co-81438_1500.jpg) 1x, url(img/pineapple-supply-co-81438_3000.jpg) 2x);
  }
}